<template>
  <div v-if="isOpen" @click="close" class="popup-background">
    <div class="popup-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return { isOpen: false };
  },
  methods: {
    open() {
      this.isOpen = true;
    },
    close(e) {
      if (e.toElement.className == "popup-background") {
        this.isOpen = false;
      }
    }
  }
};
</script>

<style>
.popup-background {
  background: #ffffffce;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 9998;
}
.popup-content {
  pointer-events: auto;
  background: white;
  margin: auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.555) 0px 0px 20px;
  border-radius: 5px;
  z-index: 9999;
}
</style>
