<template>
  <div id="shedule-table">
    <loaded-spinner v-if="isSpinnerShow"></loaded-spinner>
    <shedule-table-card v-for="card in TableSource" :key="card.id" :card="card"></shedule-table-card>
  </div>
</template>
<script>
//for Test
import jsonSheduleDataTest from "./json_shedule_data.json";

import loadedSpinner from "./SpinnerBase.vue";
import sheduleTableCard from "./SheduleTableCard.vue";
import axios from "axios";
export default {
  components: {
    sheduleTableCard,
    loadedSpinner
  },
  props: {
    SelectedItemGroup: String,
    SelectedItemTeacher: String,
    SelectedDate: Array
  },
  data() {
    return {
      TableSource: [],
      isSpinnerShow: false
    };
  },
  methods: {
    formatJsonDataToTable: function(jsonData) {
      var startDate = new Date(this.SelectedDate[0]);
      startDate.setHours(0, 0, 0, 0);

      var result = {};

      startDate.setDate(startDate.getDate() - 1);
      for (var i = 0; i < 7; i++) {
        startDate.setDate(startDate.getDate() + 1);
        result[startDate.getTime()] = {
          id: startDate.getTime(),
          day: startDate.toLocaleString("ru-Ru", {
            day: "2-digit",
            weekday: "short",
            month: "short",
            year: "2-digit"
          }),
          events: {}
        };
      }

      jsonData.forEach(function(item) {
        var currDate = new Date(item.start);
        currDate.setHours(0, 0, 0, 0);
        var currIndex = currDate.getTime();

        if (result.hasOwnProperty(currIndex)) {
          if (
            result[currIndex].events.hasOwnProperty(
              new Date(item.start).getTime()
            )
          ) {
            result[currIndex].events[new Date(item.start).getTime()].push(item);
          } else {
            result[currIndex].events[new Date(item.start).getTime()] = [item];
          }
        }
      });

      for (var value in result) {
        if (Object.keys(result[value].events).length === 0) {
          delete result[value];
          continue;
        }
        result[value].events = Object.values(result[value].events).sort(
          (a, b) => new Date(a[0].start) - new Date(b[0].start)
        );
      }

      return result;
    },
    refreshTableSource: function() {
      var filters = {};
      if (
        typeof this.SelectedItemGroup != "undefined" &&
        this.SelectedItemGroup != null
      ) {
        filters["group"] = this.SelectedItemGroup;
      }
      if (
        typeof this.SelectedItemTeacher != "undefined" &&
        this.SelectedItemTeacher != null
      ) {
        filters["teachers"] = this.SelectedItemTeacher;
      }

      //if User choose group or teacher
      if (Object.keys(filters).length === 0) {
        return;
      }
      this.TableSource = [];
      this.isSpinnerShow = true;

      //TODO get data from server
      //filters:
      //SelectedItemGroup and SelectedItemTeacher 
      //SelectedDate Date Start and End 

      //test JsonFromFile
      this.isSpinnerShow = false;
      this.TableSource = this.formatJsonDataToTable(jsonSheduleDataTest);
    }
  },
  watch: {
    SelectedItemGroup: function() {
      this.refreshTableSource();
    },
    SelectedItemTeacher: function() {
      this.refreshTableSource();
    },
    SelectedDate: function() {
      this.refreshTableSource();
    }
  }
};
</script>
<style scoped>
#shedule-table {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 50px;
}
</style>
