<template>
  <div id="date-menu">
    <button @click="pickCurrDate">Сегодня</button>
    <div>{{textDateBeginEnd}}</div>
    <div>
      <button @click="prevWeek">&lt;</button>
      <button @click="nextWeek">&gt;</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentDate: new Date()
    };
  },
  computed: {
    mondayByCurrentDate: function() {
      var day = this.currentDate.getDay();
      var diff = this.currentDate.getDate() - day + (day == 0 ? -6 : 1);
      return new Date(this.currentDate.setDate(diff));
    },
    sundayByCurrentDate: function() {
      var day = this.currentDate.getDay();
      var diff = this.currentDate.getDate() - day + 7;
      return new Date(this.currentDate.setDate(diff));
    },
    textDateBeginEnd: function() {
      var options = { year: "2-digit", month: "short", day: "numeric" };
      return (
        this.mondayByCurrentDate.toLocaleString("ru-RU", options) +
        " — " +
        this.sundayByCurrentDate.toLocaleString("ru-RU", options)
      );
    }
  },
  mounted() {
    this.currentDate = new Date();
  },
  methods: {
    pickCurrDate: function(event) {
      this.currentDate = new Date();
    },
    prevWeek: function(event) {
      this.currentDate = new Date(
        this.currentDate.setDate(this.currentDate.getDate() - 7)
      );
    },
    nextWeek: function(event) {
      this.currentDate = new Date(
        this.currentDate.setDate(this.currentDate.getDate() + 7)
      );
    },
    siteFormatDate: function(date) {
      var formattedMonth =
        date.getMonth() > 8 ? date.getMonth() + 1 : "0" + (date.getMonth() + 1);
      var formattedDay =
        date.getDate() > 9 ? date.getDate() : "0" + date.getDate();
      return date.getFullYear() + "-" + formattedMonth + "-" + formattedDay;
    }
  },
  watch: {
    currentDate: function() {
      this.$emit("set-date", [
        this.siteFormatDate(this.mondayByCurrentDate),
        this.siteFormatDate(this.sundayByCurrentDate)
      ]);
    }
  }
};
</script>

<style scoped>
#date-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
</style>
