<template>
  <div class="shedule-table-card">
    <div class="card-title">{{card.day}}</div>
    <card-element v-for="elements in card.events" :key="elements.id" :elements="elements"></card-element>
  </div>
</template>
<script>
import CardElement from "./SheduleTableCardElement.vue";
export default {
  components: {
    CardElement
  },
  props: { card: Object },
  data() {
    return {};
  },
  computed: {}
};
</script>
<style scoped>
.card-title {
  padding: 0 5px 5px 5px;
}
.shedule-table-card {
  cursor: default;
  width: 200px;
  padding: 5px 0 5px 0;
  margin: 10px;
  background: rgb(250, 250, 250);
  border-radius: 5px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}
</style>

