<template>
  <div>
    <div class="element-title">
      <div>{{textTimeStart}}</div>
      <div>{{textTimeEnd}}</div>
    </div>
    <div
      v-for="element in elements"
      :key="element.id"
      class="element-item"
      @click="showPopup(element)"
    >{{element.title}}</div>
    <alert ref="modal">
      <div class="header">Дата</div>
      {{textDate}}
      <b>{{textTimeStart}} — {{textTimeEnd}}</b>
      <div v-if="isDisciplineVisible" class="header">Дисциплина</div>
      <div v-if="isDisciplineVisible" class="text">{{selectedElement.discipline}}</div>
      <div class="header">Группа</div>
      <div class="text">
        {{selectedElement.group}}
        <template v-if="isSpetcializatciiaVisible">( {{selectedElement.spetcializatciia}} )</template>
      </div>
      <div v-if="isSubgroupVisible" class="header">Подгруппа</div>
      <div v-if="isSubgroupVisible" class="text">{{selectedElement.subgroup}}</div>
      <div class="header">Аудитория</div>
      {{selectedElement.place}}
      <div v-if="isTeacherTitleVisible" class="header">Преподаватель</div>
      <div v-if="isTeacherTitleVisible" class="text">{{selectedElement.teacher.title}}</div>
    </alert>
  </div>
</template>

<script>
import alert from "./AlertBase.vue";

export default {
  components: {
    alert
  },
  props: { elements: Array },
  data() {
    return {
      selectedElement: {teacher:{}}
    };
  },
  computed: {
    isDisciplineVisible: function() {
      return this.selectedElement.hasOwnProperty("discipline") ? true : false;
    },
    isSubgroupVisible: function() {
      return this.selectedElement.hasOwnProperty("subgroup") &&
        this.selectedElement.subgroup != ""
        ? true
        : false;
    },
    isSpetcializatciiaVisible: function() {
      return this.selectedElement.hasOwnProperty("spetcializatciia")
        ? true
        : false;
    },
    isTeacherTitleVisible: function() {
      return this.selectedElement.teacher.hasOwnProperty("title")
        ? true
        : false;
    },
    isTeacherRankVisible: function() {
      return this.selectedElement.teacher.hasOwnProperty("rank") ? true : false;
    },
    isTeacherDegreeVisible: function() {
      return this.selectedElement.teacher.hasOwnProperty("degree")
        ? true
        : false;
    },
    textDate: function() {
      return new Date(this.elements[0].start).toLocaleString("ru-RU", {
        day: "2-digit",
        month: "2-digit",
        year: "numeric"
      });
    },
    textTimeStart: function() {
      return new Date(this.elements[0].start).toLocaleTimeString("ru-RU", {
        hour: "2-digit",
        minute: "2-digit"
      });
    },
    textTimeEnd: function() {
      return new Date(this.elements[0].end).toLocaleTimeString("ru-RU", {
        hour: "2-digit",
        minute: "2-digit"
      });
    }
  },
  methods: {
    showPopup: function(element) {
      this.selectedElement = element;
      this.$refs.modal.open();
    }
  }
};
</script>

<style scoped>
.element-title {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0 5px;
  border-bottom: 1px solid grey;
}
.element-item {
  cursor: pointer;
  padding: 5px;
  background: lightgray;
  border-bottom: 1px solid grey;
}
.element-ar {
  position: fixed;
  width: 100%;
  height: 100%;
  background: lightgray;
  top: 0;
  left: 0;
}
.header {
  font-weight: 600;
  width: 300px;
  margin-top: 10px;
}
.text {
  word-wrap: break-word;
  width: 300px;
}
</style>

