<template>
  <div id="app">
    <div class="select-data">
      <div>
        <v-select :options="optionsGroups" v-model="selectItemGroup" placeholder="Выберите группу">
          <span slot="no-options">{{noOptions}}</span>
        </v-select>
      </div>
      <div>
        <v-select
          :options="optionsTeachers"
          v-model="selectItemTeacher"
          placeholder="Выберите преподавателя"
        >
          <span slot="no-options">{{noOptions}}</span>
        </v-select>
      </div>
      <shedule-date @set-date="dates=$event"></shedule-date>
    </div>
    <shedule-table
      :selected-date="dates"
      :selected-item-group="selectItemGroupValue"
      :selected-item-teacher="selectItemTeacherValue"
    ></shedule-table>
  </div>
</template>

<script>
import vSelect from "vue-select";
import axios from "axios";
import SheduleTable from "./components/SheduleTable.vue";
import SheduleDate from "./components/SheduleDate.vue";

export default {
  name: "app",
  components: {
    vSelect,
    SheduleTable,
    SheduleDate
  },
  data() {
    return {
      optionsGroups: [],
      selectItemGroup: "",
      optionsTeachers: [],
      selectItemTeacher: "",
      noOptions: "Загрузка...",
      dates: []
    };
  },
  computed: {
    selectItemGroupValue: function() {
      return this.selectItemGroup == null ? null : this.selectItemGroup.value;
    },
    selectItemTeacherValue: function() {
      return this.selectItemTeacher == null
        ? null
        : this.selectItemTeacher.value;
    }
  },
  mounted() {
    axios
      .get(
        "https://firestore.googleapis.com/v1/projects/schedule-92cb5/databases/(default)/documents/shedule/main"
      )
      .then(response => {
        //firestore response
        //https://firebase.google.com/docs/firestore/reference/rest/v1beta1/projects.databases.documents#Document

        this.optionsGroups = response.data.fields.groups.arrayValue.values.map(
          x => {
            return {
              value: x.mapValue.fields.id.stringValue,
              label: x.mapValue.fields.text.stringValue
            };
          }
        );
        this.optionsTeachers = response.data.fields.teachers.arrayValue.values.map(
          x => {
            return {
              value: x.mapValue.fields.id.stringValue,
              label: x.mapValue.fields.text.stringValue
            };
          }
        );
      })
      .catch(() => {
        this.noOptions = "Попробуйте перезагрузить страницу";
      });
  }
};
</script>

<style>
#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.select-data {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  max-width: 800px;
}

.select-data > * {
  margin-bottom: 5px;
}

.select-data > div {
  width: 350px;
  margin: 5px;
}

body {
  margin: 0;
}
</style>
